
= simple_form_for @pin, html: {multipart: true} do |x|
		= x.input :title , label: "title", placeholder: "A title"
		= x.input :description, label: "description", placeholder: "A description"
		= x.button :submit