%h1 Pin Index Pg

- @pins.each do |pin|
		%p title
		=link_to pin.title, pin_path(pin)
		%p description
		=pin.description
		=link_to "Edit", edit_pin_path(pin)
		=link_to "Rid", pin_path(pin), method: :delete, data: {confirm: "Are you sure?"}
		